/* 
===================
GENERAL （⁀⊙෴☉⁀）
=================== 
*/
@media screen and (max-width: 375px) and (max-height: 677px) {

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

/* costume font */


h1, h2{
  font-family: 'IM Fell English', serif, Arial, Helvetica, sans-serif;
}

h4{
  font-family: 'Buenard', serif, Arial, Helvetica, sans-serif;
}

p{
  font-family: 'Gaegu', serif, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* p, a, li {
  font-family: Arial, Helvetica, sans-serif;
} */

/* 
=============================
Hamburger menu （⁀⊙෴☉⁀）https://www.youtube.com/watch?v=dAIVbLrAb_U
============================= 
*/

:root {
  --bar-width: 50px;
  --bar-height: 8px;
  --hamburger-gap: 5px;
  --foreground: rgb(29, 41, 16);
  border-radius: 10px;
  --background: rgb(254, 248, 230);
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: rgb(254, 248, 230);
  --background: #5e4e3c;
}

.hamburger-menu:has(input:focus-visible):before,
.hamburger-menu:has(input:focus-visible):after,
.hamburger-menu input:focus-visible {
  border: 3px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 12.5rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

/* 
====================
Nav （⁀⊙෴☉⁀）
====================
*/

nav ul li {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: -20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(254, 248, 230);
  font-size: 17px;
}

nav ul li a:hover {
  color: rgb(193, 152, 87);
}

/**
    ===================
    FOOTER ┌( ಠ‿ಠ )┘
    ===================
*/

footer {
  display: flex;
  gap: 5em;
  background-color: rgb(29, 41, 16);
  width: 100%;
  text-align: left;
  color: rgb(254, 248, 230);
}

footer section {
  /* Als je dingen onder elkaar wilt hebben BLOCKJE */
  display: block; 
}

footer section h4{
  margin-left: 2.5em;
}

footer ul {
  list-style: none;
}

footer a {
  color: rgb(254, 248, 230);
}

/* 
====================
HERO（⁀⊙෴☉⁀）
====================
*/

.hero {
width: 375px;
height: 544px;
background-image: url(Images/DitIsMHoorBoom-17.jpg);
background-color: #5F6944;
background-size: cover;
background-repeat: no-repeat;
box-sizing: content-box;
}

.KunstEnKas{
  width: 375px;
  height: 544px;
  background-image: url(Images/Hortus.jpg);
  background-color: #1B2718;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  }

.KlimatenKas{
  width: 375px;
  height: 544px;
  background-image: url(Images/Woestijn-14.jpg);
  background-color: #e16427;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  }

.NieuwLeven{
  width: 375px;
  height: 544px;
  background-image: url(Images/BannierEnNaaien-16.jpg);
  background-color: rgb(43, 49, 19);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  }

/* 
====================
Home（⁀⊙෴☉⁀）
====================
*/
.home {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -14em;
  padding-right: 2em;
  padding-left: 2em;
}

.home h4 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -1em;
  padding-right: 2em;
  padding-left: 2em;
}


.home p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

.project {
margin-top: 3.5em;
width: 375px;
height: 315px;
flex-shrink: 0;
background: #424824;
}

.project h2 {
  color: rgb(254, 248, 230);
  text-align: center;
  vertical-align: middle;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em; 
}

.project p {
  color: rgb(254, 248, 230);
  text-align: left;
  padding-top: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

/* Carousel plaatjes  */
.carousel h2 {
  color: rgb(254, 248, 230);
  text-align: center;
  padding-top: 1.3em;
  padding-right: 2em;
  padding-left: 2em;
}

.carousel div{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 1.6em;
}

.carousel div img{
  width: 100%;
  margin: 0.7em;
  border-radius: 1em;
  margin-bottom: 2.5em;
}

.carousel div img:nth-of-type(1){
  margin-left: -35%;
}

.carousel div img:nth-of-type(2){
  width: 165%;
}

.carousel div img:nth-of-type(3){
  margin-right: -35%;
}


/* 
====================
Kunst en Kas（⁀⊙෴☉⁀）
====================
*/

.kunstenkasproject h1 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -8.5em;
  padding-right: 2em;
  padding-left: 2em;
}

.kunstenkasproject h4 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -1em;
  padding-right: 2em;
  padding-left: 2em;
}

.kunstenkasproject h2 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: 1.5em;
  padding-right: 2em;
  padding-left: 2em;
}

.kunstenkasproject p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.hermitage img{
  margin-top: 3em;
  width: 375px;
  height: 544px;
}

.erfgoedprijs {
margin-top: -1.5em;
width: 375px;
height: 400px;
flex-shrink: 0;
background: rgb(109, 98, 96);
}

.erfgoedprijs h2 {
  color: rgb(254, 248, 230);
  text-align: center;
  padding-top: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

.erfgoedprijs h4 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -1em;
  padding-right: 2em;
  padding-left: 2em;
}


.erfgoedprijs p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}


/* 
====================
Drie klimaten kas（⁀⊙෴☉⁀）
====================
*/

.DrieKlimatenKas h1 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -9em;
  padding-right: 2em;
  padding-left: 2em;
}

.DrieKlimatenKas h4 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -1em;
  padding-right: 2em;
  padding-left: 2em;
}

.DrieKlimatenKas p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.subtropen img{
  margin-top: -1em;
  width: 375px;
  height: 544px;
}

.subtropen {
  margin-top: 5em;
  width: 375px;
  height: 400px;
  flex-shrink: 0;
  background: rgb(146, 123, 101)
}

.duurzamekas {
margin-top: 8em;
width: 375px;
height: 500px;
flex-shrink: 0;
background: rgb(146, 123, 101)
}

.duurzamekas h2 {
  color: rgb(254, 248, 230);
  text-align: center;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.duurzamekas p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.tropen img{
  margin-top: -7em;
  width: 375px;
  height: 544px;
}

.adopteerplant {
  margin-top: -2em;
  width: 375px;
  height: 275px;
  flex-shrink: 0;
  background: rgb(18, 23, 3)
  }

.adopteerplant h2 {
  color: rgb(254, 248, 230);
  text-align: center;
  padding-top: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

.adopteerplant p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

/* 
====================
Bannier tot tas（⁀⊙෴☉⁀）
====================
*/

.bannier h1 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -7.5em;
  padding-right: 2em;
  padding-left: 2em;
}

.bannier h4 {
  color: rgb(254, 248, 230);
  text-align: center;
  margin-top: -1em;
  padding-right: 2em;
  padding-left: 2em;
}

.bannier p {
  color: rgb(254, 248, 230);
  text-align: left;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.tex-button-container {
  text-align: center;
}

.tex-button {
  background-color: rgb(156, 151, 99);
  border: 2px solid rgb(254, 248, 230);
  border-radius: 20px;
  outline: none;
  font-size: 1em;
  color: rgb(254, 248, 230);
  text-decoration: none;
  padding: 10px 25px;
  align-items: center;
}
